name: Deploy to OpenDroid Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [opendroid]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Convert root folder names to lowercase
        run: |
          for dir in */; do
            base="${dir%/}"
            lower=$(echo "$base" | tr '[:upper:]' '[:lower:]')

            if [ "$base" != "$lower" ]; then
              mv "$base" "$lower"
            fi
          done

      - name: Deploy files to /var/www/opendroid
        run: |
          sudo mkdir -p /var/www/opendroid
          sudo rsync -av --delete ./ /var/www/opendroid/
